*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #1c2638;
}
:root
{
  --clr:#0ab3ff;
}
form{
	background: #29313c;
	padding: 60px 80px 60px;
	text-align: center;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}
form h2{
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 1.25em;
	letter-spacing: 0.1em;
	margin-bottom: 50px;
}
.inputbox{
	position: relative;
	width: 300px;
	margin-bottom: 40px;
}
.inputbox input{
	position: relative;
	width: 100%;
	padding: 10px 0;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 2px solid #999;
	color: #fff;
	font-size: 1em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}
.inputbox label{
	position: absolute;
	left: 0;
	padding: 10px 0;
	pointer-events: none;
	color: #999;
	text-transform: uppercase;
}
.inputbox label span{
	position: relative;
	display: inline-flex;
	letter-spacing: 0.05em;
	transition: 0.2s ease-in-out;
}
.inputbox input:focus ~ label span,
.inputbox input:valid ~ label span{
	color: var(--clr);
	letter-spacing: 0.15em;
	transform: translateY(-25px);
}
.inputbox input:focus,
.inputbox input:valid{
	border-bottom: 2px solid var(--clr);
}
.inputbox input[type="Submit"]{
	background: var(--clr);
	border: none;
	padding: 15px;
	border-radius: 50px;
	color: #1c2630;
	font-weight: 600;
	font-size: 1.15em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	cursor: pointer;
	transition: 0.5s;
}
.inputbox input[type="Submit"]:hover{
	letter-spacing: 0.35em;
}
form p{
	color: #fff;
	text-transform: uppercase;
}
form p a{
	color: var(--clr);
	font-weight: 500;
	text-decoration: none;
}